.location {
    background-color: rgb(32, 67, 32);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 1px 1px white;
}

.location_name {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(96, 201, 96);
    margin: 15px;
    
}

.location_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.location_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(142, 142, 142);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.location_item span:first-child {
    padding-left: 20px;
    color: white;
}